@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

body {
  background: #eeeeee;
  font-family: "Jost", sans-serif;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
}

h1 {
  text-align: center;
}

.grey {
  background: #bbb;
}

div {
  width: 100px;
  height: 100px;
  margin: 10px 20px 10px 20px;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
